# Needed to include Zephyr's CONFIG_LOG, CONFIG_UART_CONSOLE, etc. for prj.conf
source "Kconfig.zephyr"

choice SUM_IMPL
	prompt "Application demo to build"
	default SUM_PRINT

config SUM_PRINT
	bool "Print sum() result with printk()"

config SUM_LOG
	bool "Print sum() result with the logger"
	select LOG

config TEMP_READ
	bool "Read and print BME280 temperature over I2C"
	select SENSOR
	select I2C
	select CBPRINTF_FP_SUPPORT

endchoice
